body {
    font-family: 'Poppins', sans-serif;
    padding-top: 64px;
}

iframe {
    max-width: 100%;
}

/**************/
/*            */
/*   Navbar   */
/*            */
/**************/

/* Changing the default bootstrap navbar height */
.navbar {
    min-height: 64px;
}

.navbar-brand {
    padding: 0 15px;
    height: 64px;
    line-height: 64px;
}

.navbar-toggle {
    /* (64px - button height 34px) / 2 = 15px */
    margin-top: 15px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        /* (64px - line-height of 27px) / 2 = 18.5px */
        padding-top: 18.5px;
        padding-bottom: 18.5px;
        line-height: 27px;
    }
}
/* Changing the default bootstrap navbar height */

/**********************/
/*                    */
/*   Modal carousel   */
/*                    */
/**********************/

.modal-content {
    background: none;
    border: none;
}
  
.modal-header {
    border:none;
}
.close {
    background: none;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover{
    color: #f1f1f1;
}


/***************/
/*             */
/*   Vertice   */
/*             */
/***************/
.whatsapp-icon-container{
    height: 40px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}

.whatsapp-icon{
    width: 35px;
    height: 35px;
}
.whatsapp-icon-mobile{
    width: 50px;
    height: 50px;
}

#logo-vertice{
    width: 80px;
    height: auto;
}

.icono {
    max-width: 150px;
    height: auto;
}

.blanco {
    color: #ffffff;
}

.icono-small {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.bg-color-navbar {
    background-color: #000000;
}
.background {
    height: calc(60vh - 64px);
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

#background-inicio {
    background: url(../img/arquitecto.jpg);
}

#background-conocenos {
    background: url(../img/oficina.jpg);
    filter: blur(5px);
}
#background-servicios {
    background: url(../img/soldar.jpg);
    filter: blur(5px);
}
#background-proyectos {
    background: url(../img/arquitectos-3.jpg);
    filter: blur(5px);
}
#background-contactanos {
    background: url(../img/arquitectos-2.jpg);
    filter: blur(5px);
}

.card {
    background-color: #eff5f7;
}
.card-conoce-container{
    padding: 0;
}
.card-conoce{
    max-width: 100%;
    padding: 0;
}
.card-conoce-row{
    margin-right: 0px;
    margin-left: 0px;
}
.no-border-radius{
    border-radius: 0;
}

.color-vertice {
    color: #026B6E;
}

.color-azul-vertice {
    color: #05649E;
}

.background-color-vertice {
    background-color: #026B6E;
}
.background-color-vertice-claro {
    background-color: #357174a4;
}

.card-title {
    font-weight: bold;
}
.btn-primary {
    border-color: #357174a4;
}
.btn-primary:hover {
    background-color: #045e61;
    border-color: #357174a4;

}

.main-title {
    text-align: center;
    font-weight: 600;
    text-shadow: -2px 0 #37393a, 0 2px #37393a, 2px 0 #37393a, 0 2px #37393a;
    letter-spacing: 22px;
    text-indent: 22px;
    color: #ffffff;
}

.main-subtitle {
    text-align: center;
    text-shadow: -2px 0 #37393a, 0 2px #37393a, 2px 0 #37393a, 0 -2px #37393a;
    letter-spacing: 3px;
    text-indent: 3px;
    color: #ffffff;
}

#inicio-contents {
    margin-left: 4%;
    position: absolute;
    top: 30%;
}
#inicio-title {
    font-size: 35px;
    letter-spacing: 12px;
}
#inicio-subtitle {
    font-size: 25px;
}

#conocenos-title {
    position: absolute;
    top: calc(60vh - 40%);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 25px;
    letter-spacing: 10px;
}

#conocenos-subtitle {
    position: absolute;
    top: calc(60vh - 20%);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    font-size: 14px;
    color: #ffffff;
    text-shadow: -1.5px 0 #37393a, 0 1.5px #37393a, 1.5px 0 #37393a, 0 -1.5px #37393a;
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
}

.absolute-center {
    position: absolute;
    top: calc(60vh - 25%);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.servicios-title{
    font-size: 30px;
    letter-spacing: 10px;
}
#proyectos-title {
    font-size: 28px;
    letter-spacing: 10px;
}

.iconos-servicios{
    max-width: 100px;
    height: auto;
}

.card-text {
    font-size: 19px;
}

#contactanos-title {
    position: absolute;
    top: calc(60vh - 35%);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 22px;
    letter-spacing: 8px;
}
#contactanos-subtitle {
    position: absolute;
    top: calc(60vh - 18%);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    font-size: 13px;
    color: #ffffff;
    text-shadow: -1.5px 0 #37393a, 0 1.5px #37393a, 1.5px 0 #37393a, 0 -1.5px #37393a;
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
}


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    #inicio-title {
        font-size: 60px;
        letter-spacing: 15px;
    }
    #inicio-subtitle {
        font-size: 32px;
    }
    #conocenos-title {
        font-size: 40px;
        letter-spacing: 15px;
    }
    .servicios-title {
        font-size: 35px;
        letter-spacing: 15px;
    }
    #proyectos-title {
        font-size: 32px;
        letter-spacing: 15px;
    }
    #contactanos-title{
        font-size: 30px;
        letter-spacing: 15px;
    }
    #contactanos-title {
        font-size: 40px;
        letter-spacing: 15px;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    #conocenos-title {
        font-size: 65px;
    }
    #conocenos-subtitle {
        font-size: 25px;
    }
    .servicios-title {
        font-size: 65px;
    }
    #proyectos-title {
        font-size: 62px;
    }
    #contactanos-title{
        font-size: 60px;
    }
    #contactanos-subtitle {
        font-size: 25px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #inicio-title {
        font-size: 90px;
    }
    .background {
        height: calc(100vh - 64px);
    }

    #inicio-contents {
        top: 45%;
    }

    #conocenos-title {
        top: 27%;
        left: 50%;
        font-size: 90px;
    }

    #conocenos-subtitle {
        top: 74%;
        left: 50%;
        width: 658px;
        font-size: 30px;
    }
    
    .absolute-center {
        top: 50%;
        left: 50%;
    }
    .servicios-title {
        font-size: 90px;
    }
    #proyectos-title {
        font-size: 90px;
    }
    #contactanos-title{
        font-size: 90px;
    }
    #contactanos-title {
        top: 35%;
        left: 50%;
        font-size: 90px;
    }
    #contactanos-subtitle {
        font-size: 30px;
        top: 65%;
        left: 50%;
        width: 900px;
    }
    .container {
        width: 100%;
        max-width: 1200px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .card-conoce-container{
        padding-right: 15px;
        padding-left: 15px;
    }
    .card-conoce-row{
        margin-right: -15px;
        margin-left: -15px;
    }
    .no-border-radius{
        border-radius: .25rem;
    }
}

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  
    h1 {font-size:90px;}    
} */